@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";

@import "./base/animations";
@import "./base/base";
@import "./base/typograpgy";
@import "./base/utilities";

@import "./pages/home";


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #ffffff;
$color-grey-dark: #777777;
$color-black: #000000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

/* header */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem;
  }
  
  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}



.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.82rem;
    animation: moveInRight 1s ease-out;
  }
}



/* header animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button animation */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }
  
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.2);
      opacity: 0;
    }  
  }
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }
  
  &--white {
    color: $color-grey-dark;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }
  
  &--animated {
    animation: moveInBottom 0.2s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}